@{
    ViewBag.currentController = @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student Manager</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/UI.css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/0eb3a63af8.js"></script>
</head>
<body>
    <div class="header-wrapper">
        <div class="header-utils">
            <div id="header-utils-settings">
                <i class="fas fa-fw fa-cog" /></i>
                <div class="active"></div>
            </div>
            <div id="header-utils-account">
                <i class="fas fa-fw fa-user-circle" /></i>
                <div class="active"></div>
            </div>
        </div>
    </div>
    <div class="d-flex" id="wrapper">
        <div class="sidebar-wrapper">
            <ul>
                <li>
                    <a href="@Url.Action("Index", "Home")" class="@(ViewBag.currentController=="Home"?"active":"")">
                        <div><i class="fas fa-fw fa-school" /></i>Home</div>
                        <div class="actived"></div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Students")" class="@(ViewBag.currentController=="Students"?"active":"")">
                        <div><i class="fas fa-fw fa-users" /></i>Students</div>
                        <div class="actived"></div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Results")" class="@(ViewBag.currentController=="Results"?"active":"")">
                        <div><i class="fas fa-fw fa-graduation-cap" /></i>Results</div>
                        <div class="actived"></div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Conduct")" class="@(ViewBag.currentController=="Conduct"?"active":"")">
                        <div><i class="fas fa-fw fa-clipboard-list" /></i>Conduct</div>
                        <div class="actived"></div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Reports")" class="@(ViewBag.currentController=="Reports"?"active":"")">
                        <div><i class="fas fa-fw fa-poll" /></i>Reports</div>
                        <div class="actived"></div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="content-wrapper">
            <div class="container-fluid">
                @RenderBody()
                <hr />
                <i>Testing Zone</i>
                <h1>Hello world</h1>
                <p>Hello world, testing <b>bolded</b> and <i>italiced</i> text</p>
                <ul>
                    <li>Wow</li>
                    <li>Wow</li>
                    <li>Wow</li>
                    <li>Wow</li>
                </ul>
                &nbsp;
                <h1>Table</h1>
                <table>
                    <tr>
                        <th>Data1</th>
                        <th>Data2</th>
                        <th>Data3</th>
                        <th>Data4</th>
                        <th>Data5</th>
                    </tr>
                    <tr>
                        <td>Data1</td>
                        <td>Data2</td>
                        <td>Data3</td>
                        <td>Data4</td>
                        <td>Data5</td>
                    </tr>
                    <tr>
                        <td>Data1</td>
                        <td>Data2</td>
                        <td>Data3</td>
                        <td>Data4</td>
                        <td>Data5</td>
                    </tr>
                    <tr>
                        <td>Data1</td>
                        <td>Data2</td>
                        <td>Data3</td>
                        <td>Data4</td>
                        <td>Data5</td>
                    </tr>
                    <tr>
                        <td>Data1</td>
                        <td>Data2</td>
                        <td>Data3</td>
                        <td>Data4</td>
                        <td>Data5</td>
                    </tr>
                </table>
                <p></p>
                <h1>Buttons</h1>
                <p>Try tabbing / shift-tabbing around<br />Try click &amp; hold</p>
                <span>
                    <a href="" class="btn btn-light"><div>Light</div></a>
                    <a href="" class="btn btn-primary"><div>Primary</div></a>
                    <a href="" class="btn btn-success"><div>Success</div></a>
                    <a href="" class="btn btn-danger"><div>Danger</div></a>
                </span>
                <p></p>
                <h2>Disabled Buttons</h2>
                <p>Try removing class="disabled" in Inspector</p>
                <span>
                    <a href="" class="btn btn-light disabled"><div>Light</div></a>
                    <a href="" class="btn btn-primary disabled"><div>Primary</div></a>
                    <a href="" class="btn btn-success disabled"><div>Success</div></a>
                    <a href="" class="btn btn-danger disabled"><div>Danger</div></a>
                </span>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
